@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #022c43;
}

.title{
    display: grid;
    justify-content: center;
    font-size: 45px;
    font-style: italic;
    color: #e4e3e3;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 5px;
}
.search-input .search-btn{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.search-input{
    padding: 3px 8px;
    width: calc(30% - 2em);
    margin: 0 8px;
    margin: 10px;
}



img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}


.albums-container{
    background: #053f5e;
    align-items: center;
    box-sizing: border-box;
}
.gallery img{
    width: 60%;
    height: auto;
}

.des{
    padding: 15px;
    text-align: center;
}
.single-album {
    text-align: center;
    width: 30%;
    float: left;
    padding: 0 6px;
}

@media only screen and (max-width: 700px){
    .single-album {
        width: 45%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .single-album {
        width: 100%;
        margin: 6px 0;
    }
}