@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    align-content: center;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #022c43;
} 

.title{
    display: grid;
    justify-content: center;
    font-size: 45px;
    font-style: italic;
    color: #e4e3e3;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 5px;
}
.search-input .search-btn{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.search-input{
    padding: 3px 8px;
    width: calc(30% - 2em);
    margin: 0 8px;
    margin: 10px;
}



img{
    width: 200px;
    height: 200px;
}


.albums-container{
    background: #053f5e;
    align-items: center;
    padding: 0 10%;
}
.gallery img{
    width: 50%;
    height: auto;
}
.gallery{
    border: 1px solid;
    border-radius: 5px;
}
.des{
    padding: 15px;
    text-align: center;
    color: whitesmoke;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.single-album {
    text-align: center;
    width: 32%;
    float: left;
    padding: 10px;
    
}

@media only screen and (max-width: 800px){
    .single-album {
        width: 50%;
        margin: 6px 0;
    }
}
@media only screen and (max-width: 600px){
    .single-album {
        width: 100%;
        margin: 6px 0;
    }
}


.page-item{
    display: inline-block;
    padding-left:3px;
    padding-right:3px;
    width: 80%;
    text-align: center;
}

.page-link{
    text-decoration: none;
    background:#022c43;
    border: none;
}

.fav-list-btn{
    color: rebeccapurple;
    margin: 0 45%;
}
